@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

.container{
    font-family:'Comfortaa', cursive;
    color: rgb(54,71,76);
    margin: 55px 10px;
    padding: 5px 20px;
}
.pass{
    box-sizing: border-box;
}
span{
    color: red;
    font-size: 12px;
}
.lab{
    display: block;
    font-size: 11px;
    padding-bottom: 10px;
    margin-top: 30px;
    color: rgb(54,71,76);
}
.inpu{
    padding: 6px 3px;
    border-radius: 8px;
    width: 100%;
    color: rgb(54,71,76);
}
.forget{
    font-size: 11px;
    float: right;
    margin-top: 8px;
    padding-right: 0px;
}
.btn{
    color: white;
    background-color: rgb(72,88,103);
    margin:58px auto 8px auto;
    padding: 13px 60px;
    border-radius: 8px;
    display: block;
    cursor: pointer;
    
}
.btn:hover{
    animation: ease-in-out;
    animation-duration: 2000ms;
}
.btnd{
    text-align: center;
}
.reg{
    font-size: 11px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: rgb(54,71,76);
}