*{
    margin: 0px;
    padding: 0px;
}
img{
    height: 270px;
    width: 270px;
    margin-top: 70px;
    margin-left: 80px;
    background-image: url('Asset 2.png');
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
.log ,.reg{
    padding:30px;
    color: rgb(185, 179, 179);
    border-bottom: solid rgb(185, 179, 179);
    padding-bottom: 3px;
    cursor: pointer;
    text-decoration: none;

}
.cont{
    width: 460px;
    font-size: 13px;
    color: white;
    margin: 5px 100px;
    font-family:'Comfortaa', cursive;
}
.box2{
    background-color: white;
    height: fit-content;
    border-radius: 8px;
    margin: 30px 30px;
    box-sizing: border-box;
}
.box{
    height:auto;
    width:100%;
    box-sizing: border-box;
    
}
.subdiv{
    color: rgb(185, 179, 179);
    display: flex;
    margin: 3px 25px ;
    font-family:'Comfortaa', cursive;
}
a.active{
    color:rgb(54,71,76);
    border-bottom: solid rgb(54,71,76)
}
h1{
    padding-bottom: 10px;
}
@media (max-device-width: 640px) and (min-width:381px){
.container{
    box-sizing: border-box;
    flex-direction: column;
}
img{
    padding-left: 50px;
    margin:10px auto;
}
.cont{
    margin: 0px;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}
.box2{
    height: fit-content;
    border-radius: 8px;
    width: 70%;
    margin:10px auto;
    box-sizing: border-box;
}
 } 
@media (min-width:860px ) and (max-device-width:1024px)
 {
 body {font-size:1.2rem;}

.container{
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
}
img{
    padding-left: 200px;
    margin:30px auto;
    height: 350px;
    width: 350px;

}
.cont{
    margin: 20px;
    padding: 18px;
    text-align: center;
    box-sizing: border-box;
    width: 90%;
    font-size: 24px;
}
.box2{
    height: fit-content;
    border-radius: 8px;
    width: 50%;
    align-items: center;
    margin:20px 90px;
    box-sizing: border-box;
} 
.subdiv{
    margin: 10px 60px;
    
}
.log , .reg{
    font-size: 26px;
}
} 
@media (max-width:859px) and (min-width:641px) { 
    .container{
        box-sizing: border-box;
        flex-direction: column;
    }
    img{
        padding-left: 200px;
        margin:30px auto;
        height: 350px;
        width: 350px;
    }
    .cont{
        margin: 0px;
        padding: 15px;
        text-align: center;
        box-sizing: border-box;
        width: 100%;
        font-size: 24px;
    }
    .box2{
        height: fit-content;
        border-radius: 8px;
        width: 70%;
        margin:30px auto;
        box-sizing: border-box;
    }
    .log , .reg{
        font-size: 26px;}
     .subdiv{
        margin: 20px 80px;
        
    }
 }

@media (max-width:380px){
    .container{
        box-sizing: border-box;
        flex-direction: column;
    }
    img{
        padding-left: 10px;
        margin:10px auto;
    }
    .cont{
        margin: 0px;
        padding: 5px;
        text-align: center;
        box-sizing: border-box;
        width: 100%;
    }
    .box2{
        height: fit-content;
        border-radius: 8px;
        width: 90%;
        margin:10px auto;
        box-sizing: border-box;
    }
    .subdiv{
        margin: 10px 20px;
        padding: 0px;
    }
}