
    <div *ngIf="login" class="main">
        <img src="./Asset 2.png" alt="Image Loading">
        <p class="cont">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nostrum amet sequi eveniet voluptatum, fugiat soluta et non, cupiditate consequatur officia optio Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab voluptatum doloremque rem fugiat! Nesciunt quo voluptatum, et vel amet, est dolore dolores aliquid debitis sit culpa, alias voluptates!</p>
        <div class="btnd">
            <button class="btn" (click)="logOut()">LOGOUT</button>
        </div>
    </div>
<app-root *ngIf="logout"></app-root>