@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

.container{
    font-family:'Comfortaa', cursive;
    color: rgb(54,71,76);
    margin: 0px 45px;
    align-items: center;
}
span{
    color: red;
    font-size: 12px;
}
.lab{
    display: block;
    font-size: 11px;
    padding-bottom: 5px;
    margin-top: 12px;
    color: rgb(54,71,76);
}
.inpu{
    padding: 5px 5px;
    border-radius: 8px;
    width: 100%;
    color: rgb(54,71,76);
}

.btn{
    color: white;
    background-color: rgb(72,88,103);
    margin-top: 20px;
    padding: 8px 36px;
    border-radius: 8px;
    cursor: pointer;
    
    
}
.btn:hover{
    animation: ease-in-out;
}
.btnd{
    text-align: center;
}
.reg{
    font-size: 11px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: rgb(54,71,76);
}
